image: $CI_REGISTRY/mouse-informatics/docker:latest

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  MOUNT_POINT: /builds/$CI_PROJECT_PATH/mnt
  CI_REGISTRY: dockerhub.ebi.ac.uk
  CI_REGISTRY_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH
  DOCKER_TLS_CERTDIR: ""
  GITLAB_ADVANCED_SAST_ENABLED: 'true'

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml

sast:
  stage: test


stages:
  - build
  - test
  - prod-deploy

build_main_image:
  stage: build
  services:
    - name: $CI_REGISTRY/mouse-informatics/dind:latest
      alias: docker
  script:
    - mkdir -p "$MOUNT_POINT"
    - echo "${CI_REGISTRY_PASSWORD}" | docker login -u "${CI_REGISTRY_USER}" --password-stdin  ${CI_REGISTRY}

    - sed -i "s|FROM maven|FROM ${LOCAL_GITLAB_MAVEN_IMAGE}|g" Dockerfile
    - sed -i "s|FROM amazoncorretto|FROM ${LOCAL_GITLAB_CORRETTO_IMAGE}|g" Dockerfile
      
    - docker build -t "${CI_REGISTRY_IMAGE}":"${CI_COMMIT_SHA:0:12}" -t "${CI_REGISTRY_IMAGE}":latest -f Dockerfile .  | tee ${MOUNT_POINT}/build.log
      
    - docker push "${CI_REGISTRY_IMAGE}":latest  | tee ${MOUNT_POINT}/push.log
    - docker push "${CI_REGISTRY_IMAGE}":"${CI_COMMIT_SHA:0:12}"  | tee ${MOUNT_POINT}/push.log

    - docker logout ${CI_REGISTRY}

    - echo "Pushing to docker hub"
    - echo "${DOCKER_HUB_PSWD}" | docker login --username "${DOCKER_HUB_USER}" --password-stdin
         
    - docker tag "${CI_REGISTRY_IMAGE}":latest "${DOCKER_HUB_USER}"/"${DOCKER_HUB_REPO}":latest
    - docker tag "${CI_REGISTRY_IMAGE}":"${CI_COMMIT_SHA:0:12}" "${DOCKER_HUB_USER}"/"${DOCKER_HUB_REPO}":"${CI_COMMIT_SHA:0:12}"
    - docker push "${DOCKER_HUB_USER}"/"${DOCKER_HUB_REPO}":latest  | tee ${MOUNT_POINT}/dockerhub-push-latest.log
    - docker push "${DOCKER_HUB_USER}"/"${DOCKER_HUB_REPO}":"${CI_COMMIT_SHA:0:12}"  | tee ${MOUNT_POINT}/dockerhub-push-latest.log

    - docker logout

  artifacts:
    paths:
      - "$MOUNT_POINT/"



trivy_container_scanning:
  stage: test
  image:
    name: $CI_REGISTRY/mouse-informatics/trivy:latest
    entrypoint: [""]
  variables:
    # No need to clone the repo, we exclusively work on artifacts.  See
    # https://docs.gitlab.com/ee/ci/runners/README.html#git-strategy
    GIT_STRATEGY: none
    TRIVY_USERNAME: "$CI_REGISTRY_USER"
    TRIVY_PASSWORD: "$CI_REGISTRY_PASSWORD"
    TRIVY_AUTH_URL: "$CI_REGISTRY"
    TRIVY_NO_PROGRESS: "true"
    TRIVY_CACHE_DIR: ".trivycache/"
    # FULL_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      when: on_success
      allow_failure: true
  script:
    - trivy --version
    # cache cleanup is needed when scanning images with the same tags, it does not remove the database
    - time trivy  clean --scan-cache
    # update vulnerabilities db
    - time trivy image --download-db-only
    # Builds report and puts it in the default workdir $CI_PROJECT_DIR, so `artifacts:` can take it from there
    - time trivy image --exit-code 0 --format template --template "@/contrib/gitlab.tpl"
        --output "$CI_PROJECT_DIR/gl-container-scanning-report.json" "${CI_REGISTRY_IMAGE}":"${CI_COMMIT_SHA:0:12}"
    # Prints full report
    - time trivy image --exit-code 0 --severity HIGH "${CI_REGISTRY_IMAGE}":"${CI_COMMIT_SHA:0:12}"
    # Fail on critical vulnerabilities
    - time trivy image --exit-code 1 --severity CRITICAL "${CI_REGISTRY_IMAGE}":"${CI_COMMIT_SHA:0:12}"
  cache:
    paths:
      - .trivycache/
  # Enables https://docs.gitlab.com/ee/user/application_security/container_scanning/ 
  # (Container Scanning report is available on GitLab EE Ultimate or GitLab.com Gold)
  artifacts:
    when:                          always
    reports:
      container_scanning:          gl-container-scanning-report.json


hh-prod:
  stage: prod-deploy
  image: $CI_REGISTRY/mouse-informatics/helm-kubectl-alpine:latest
  rules:
    - if: '$PRODUCTION_DEPLOYMENT != "true" && $CI_PROJECT_NAMESPACE == "mouse-informatics" && $CI_COMMIT_REF_NAME == "main"'
  script:
    # Only deploy from the MPI2 impc-solr-documentation repository rather than repository forks
    - |
      if [ ! -z ${HH_KUBERNETES_ENDPOINT+set} ]; then

        kubectl config set-cluster local --server="${HH_KUBERNETES_ENDPOINT}"
        kubectl config set clusters.local.certificate-authority-data "${HH_KUBERNETES_CERTIFICATE_AUTHORITY_DATA}"
        kubectl config set-credentials ${HH_KUBERNETES_USER} --token="${HH_KUBERNETES_USER_TOKEN}"
        kubectl config set-context "${HH_KUBERNETES_NAMESPACE}" --cluster=local --user=${HH_KUBERNETES_USER} --namespace="${HH_KUBERNETES_NAMESPACE}"
        kubectl config use-context "${HH_KUBERNETES_NAMESPACE}"
        kubectl version

        sed -i "s/STRING_REPLACED_DURING_REDEPLOY/$(date)/g" kube/prod/impc-solr-documentation-deployment.yaml

        if kubectl apply -f kube/prod/impc-solr-documentation-deployment.yaml --record | grep -q unchanged; then
            echo "=> Patching deployment to force image update."
            kubectl patch -f kube/prod/impc-solr-documentation-deployment.yaml --record -p "{\"spec\":{\"template\":{\"metadata\":{\"annotations\":{\"ci-last-updated\":\"$(date +'%s')\"}}}}}"
        else
            echo "=> Deployment apply has changed the object, no need to force image update."
        fi

        kubectl get pod,deployment,rs,svc,ing
      fi

hx-prod:
  stage: prod-deploy
  image: $CI_REGISTRY/mouse-informatics/helm-kubectl-alpine:latest
  rules:
    - if: '$PRODUCTION_DEPLOYMENT != "true" && $CI_PROJECT_NAMESPACE == "mouse-informatics" && $CI_COMMIT_REF_NAME == "main"'
  script:
    # Only deploy from the MPI2 impc-solr-documentation repository rather than repository forks
    - |
      if [ ! -z ${HX_KUBERNETES_ENDPOINT+set} ]; then

        kubectl config set-cluster local --server="${HX_KUBERNETES_ENDPOINT}"
        kubectl config set clusters.local.certificate-authority-data "${HX_KUBERNETES_CERTIFICATE_AUTHORITY_DATA}"
        kubectl config set-credentials ${HX_KUBERNETES_USER} --token="${HX_KUBERNETES_USER_TOKEN}"
        kubectl config set-context "${HX_KUBERNETES_NAMESPACE}" --cluster=local --user=${HX_KUBERNETES_USER} --namespace="${HX_KUBERNETES_NAMESPACE}"
        kubectl config use-context "${HX_KUBERNETES_NAMESPACE}"
        kubectl version

        sed -i "s/STRING_REPLACED_DURING_REDEPLOY/$(date)/g" kube/prod/impc-solr-documentation-deployment.yaml
        sed -i "s/HL_PROXY/HX_PROXY/g" kube/prod/impc-solr-documentation-deployment.yaml

        if kubectl apply -f kube/prod/impc-solr-documentation-deployment.yaml --record | grep -q unchanged; then
            echo "=> Patching deployment to force image update."
            kubectl patch -f kube/prod/impc-solr-documentation-deployment.yaml --record -p "{\"spec\":{\"template\":{\"metadata\":{\"annotations\":{\"ci-last-updated\":\"$(date +'%s')\"}}}}}"
        else
            echo "=> Deployment apply has changed the object, no need to force image update."
        fi

        kubectl get pod,deployment,rs,svc,ing
      fi
